<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab965">  <td>19/05/16 01:29:02</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BoxyCharmMobileTest.baseClass()[pri:0, instance:Implementation.BoxyCharmMobileTest@2b9627bc]">&gt;&gt;baseClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>19/05/16 01:29:39</td>   <td>36375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoxyCharmMobileTest.BoxyCharmMobileChallenge()[pri:0, instance:Implementation.BoxyCharmMobileTest@2b9627bc]">BoxyCharmMobileChallenge</td> 
  <td>main@280744458</td>   <td></td> </tr>
</table>
