<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c26598">  <td>19/02/28 13:40:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BoxyCharmTest.baseClass(java.lang.String)[pri:0, instance:Implementation.BoxyCharmTest@7fac631b]">&gt;&gt;baseClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@475603855</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/02/28 13:40:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BoxyCharmTest.baseClass(java.lang.String)[pri:0, instance:Implementation.BoxyCharmTest@5e853265]">&gt;&gt;baseClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1981370589</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/02/28 13:40:39</td>   <td>8243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoxyCharmTest.BoxyCharmChallenge()[pri:0, instance:Implementation.BoxyCharmTest@5e853265]">BoxyCharmChallenge</td> 
  <td>TestNG@1981370589</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/02/28 13:40:39</td>   <td>8243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoxyCharmTest.BoxyCharmChallenge()[pri:0, instance:Implementation.BoxyCharmTest@7fac631b]">BoxyCharmChallenge</td> 
  <td>TestNG@475603855</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/02/28 13:40:57</td>   <td>25427</td> <td>&nbsp;</td><td title="&lt;&lt;BoxyCharmTest.tearDown()[pri:0, instance:Implementation.BoxyCharmTest@7fac631b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@475603855</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/02/28 13:41:00</td>   <td>29012</td> <td>&nbsp;</td><td title="&lt;&lt;BoxyCharmTest.tearDown()[pri:0, instance:Implementation.BoxyCharmTest@5e853265]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1981370589</td>   <td></td> </tr>
</table>
